<?xml version='1.0' encoding='utf-8'?>
<widget id="com.capricetechnologies.myhrm" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>GPSTEST</name>
    <description>
		HRMS and Payroll Software
	</description>
    <author email="sales@capricetech.com" href="http://www.capricetech.com">
		Caprice Technologies Pvt Ltd
	</author>
    <content src="index.html" />
    <preference name="orientation" value="default" />
    <preference name="target-device" value="universal" />
    <preference name="fullscreen" value="false" />
    <preference name="webviewbounce" value="true" />
    <preference name="prerendered-icon" value="true" />
    <preference name="stay-in-webview" value="true" />
    <preference name="ios-statusbarstyle" value="black-opaque" />
    <preference name="detect-data-types" value="true" />
    <preference name="exit-on-suspend" value="false" />
    <preference name="show-splash-screen-spinner" value="true" />
    <preference name="auto-hide-splash-screen" value="true" />
    <preference name="disable-cursor" value="false" />
    <preference name="android-minSdkVersion" value="14" />
    <preference name="android-installLocation" value="auto" />
    <preference name="loadUrlTimeoutValue" value="700000" />
    <gap:plugin name="org.apache.cordova.geolocation" source="npm" />
    <gap:plugin name="org.apache.cordova.network-information" source="npm" />
    <gap:plugin name="org.apache.cordova.dialogs" source="npm" />
    <gap:plugin name="org.apache.cordova.inappbrowser" source="npm" />
    <gap:plugin name="org.apache.cordova.splashscreen" source="npm" />
    <gap:plugin name="cordova-plugin-whitelist" source="npm" />
    <icon src="icon.png" />
    <icon gap:platform="ios" height="60" src="res/icons/ios/icon-60.png" width="60" />
    <icon gap:platform="ios" height="120" src="res/icons/ios/icon-60-2x.png" width="120" />
    <icon gap:platform="ios" height="180" src="res/icons/ios/icon-60-3x.png" width="180" />
    <icon gap:platform="ios" height="76" src="res/icons/ios/icon-76.png" width="76" />
    <icon gap:platform="ios" height="152" src="res/icons/ios/icon-76-2x.png" width="152" />
    <icon gap:platform="ios" height="40" src="res/icons/ios/icon-40.png" width="40" />
    <icon gap:platform="ios" height="80" src="res/icons/ios/icon-40-2x.png" width="80" />
    <icon gap:platform="ios" height="57" src="res/icons/ios/icon-57.png" width="57" />
    <icon gap:platform="ios" height="114" src="res/icons/ios/icon-57-2x.png" width="114" />
    <icon gap:platform="ios" height="72" src="res/icons/ios/icon-72.png" width="72" />
    <icon gap:platform="ios" height="144" src="res/icons/ios/icon-72-2x.png" width="144" />
    <icon gap:platform="ios" height="29" src="res/icons/ios/icon-small.png" width="29" />
    <icon gap:platform="ios" height="58" src="res/icons/ios/icon-small-2x.png" width="58" />
    <icon gap:platform="ios" height="50" src="res/icons/ios/icon-50.png" width="50" />
    <icon gap:platform="ios" height="100" src="res/icons/ios/icon-50-2x.png" width="100" />
    <icon gap:platform="android" gap:qualifier="ldpi" src="res/icons/android/icon-36-ldpi.png" />
    <icon gap:platform="android" gap:qualifier="mdpi" src="res/icons/android/icon-48-mdpi.png" />
    <icon gap:platform="android" gap:qualifier="hdpi" src="res/icons/android/icon-72-hdpi.png" />
    <icon gap:platform="android" gap:qualifier="xhdpi" src="res/icons/android/icon-96-xhdpi.png" />
    <icon gap:platform="android" gap:qualifier="xxhdpi" src="res/icons/android/icon-144-xxhdpi.png" />
    <icon gap:platform="android" gap:qualifier="xxxhdpi" src="res/icons/android/icon-192-xxxhdpi.png" />
    <splash src="splash.png" />
    <splash gap:platform="ios" height="480" src="res/screens/ios/screen-iphone-portrait.png" width="320" />
    <splash gap:platform="ios" height="960" src="res/screens/ios/screen-iphone-portrait-2x.png" width="640" />
    <splash gap:platform="ios" height="1024" src="res/screens/ios/screen-ipad-portrait.png" width="768" />
    <splash gap:platform="ios" height="2048" src="res/screens/ios/screen-ipad-portrait-2x.png" width="1536" />
    <splash gap:platform="ios" height="768" src="res/screens/ios/screen-ipad-landscape.png" width="1024" />
    <splash gap:platform="ios" height="1536" src="res/screens/ios/screen-ipad-landscape-2x.png" width="2048" />
    <splash gap:platform="ios" height="1136" src="res/screens/ios/screen-iphone-568h-2x.png" width="640" />
    <splash gap:platform="ios" height="1334" src="res/screens/ios/screen-iphone-portrait-667h.png" width="750" />
    <splash gap:platform="ios" height="2208" src="res/screens/ios/screen-iphone-portrait-736h.png" width="1242" />
    <splash gap:platform="ios" height="1242" src="res/screens/ios/screen-iphone-landscape-736h.png" width="2208" />
    <splash gap:platform="android" gap:qualifier="land-hdpi" src="res/screens/android/screen-hdpi-landscape.png" />
    <splash gap:platform="android" gap:qualifier="land-ldpi" src="res/screens/android/screen-ldpi-landscape.png" />
    <splash gap:platform="android" gap:qualifier="land-mdpi" src="res/screens/android/screen-mdpi-landscape.png" />
    <splash gap:platform="android" gap:qualifier="land-xhdpi" src="res/screens/android/screen-xhdpi-landscape.png" />
    <splash gap:platform="android" gap:qualifier="port-hdpi" src="res/screens/android/screen-hdpi-portrait.png" />
    <splash gap:platform="android" gap:qualifier="port-ldpi" src="res/screens/android/screen-ldpi-portrait.png" />
    <splash gap:platform="android" gap:qualifier="port-mdpi" src="res/screens/android/screen-mdpi-portrait.png" />
    <splash gap:platform="android" gap:qualifier="port-xhdpi" src="res/screens/android/screen-xhdpi-portrait.png" />
    <access origin="*" subdomains="true" />
    <access origin="*.w3schools.com*" subdomains="true" />
    <plugin name="cordova-plugin-whitelist" version="1.0.0" />
    <allow-navigation href="http://*/*" />
    <allow-navigation href="https://*/*" />
    <allow-navigation href="data:*" />
    <plugin name="cordova-plugin-network-information" spec="~1.2.1" />
    <plugin name="cordova-plugin-geolocation" spec="~2.1.0" />
</widget>
